body {
    background-image: url("https://th.bing.com/th/id/R.376af9492ae64834e7515bc230c80338?rik=%2b3fg7uE9JL8yGQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2ff%2f6%2fb%2f172898.jpg&ehk=vYf%2f9wxRYO%2buecqyWG7Yj5OZxha%2bWHfEdLuTBVwIUeE%3d&risl=&pid=ImgRaw&r=0")
}

.submarine {
    Margin-left:100px;
    Margin-top:250px;
    
    }
    